<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            //Start by loading first page
            load_page('first');

            //Set links to load new pages.
            document.querySelectorAll('.nav-link').forEach(link => {
                link.onclick = () => {
                    load_page(link.dataset.page);
                    return false;
                };
            });
        });

        //Update Text on popping state.
        window.onpopstate = e => {
            const data = e.state;
            document.title = data.title;
            document.querySelector('#body').innerHTML = data.text;
        };


        //Render contents of new page in main view.
        function load_page(name){
            const request = new XMLHttpRequest();
            request.open('GET', `/${name}`);
            request.onload = () => {
                const respose = request.responseText;
                document.querySelector('#body').innerHTML = respose;

                //Push state to URL
                document.title = name;
                history.pushState({'title': name, 'text': respose}, name, name);
            };
            request.send();
        }
    </script>
    <title>index</title>
</head>
<body>
    <ul id="nav">
        <li><a href="" class="nav-link" data-page="first">First Page</a></li>
        <li><a href="" class="nav-link" data-page="second">Second Page</a></li>
        <li><a href="" class="nav-link" data-page="third">Third Page</a></li>
    </ul>
    <hr>
    <div id="body"></div>
</body>
</html>